<div class="text-center bg-img1 padding-nav justify-content-around">
  <div class="d-flex p-5 justify-content-end">
      <div class="d-flex flex-column col-5">
          <h2 class="font">Vous y êtes</h2>
          <h1 class="font">presque !</h1>
          <p>Plus qu’une dernière foulée pour devenir licencié au sein de la ligue d’athlétisme.</p>
      </div>
  </div>
</div>
<div class="align-items-center bg-light">
  <h1 class="font text-center">Les avantages à devenir licencié</h1>
  <div class="d-flex flex-wrap justify-content-center text-center">
      <div class="col-12 col-md-4 col-lg d-flex flex-column align-items-center">
          <img class="contact-pic" src="assets/img/discipline.png" alt="Starting bloc">
          <p class="font">Accès à toutes les disciplines</p>
      </div>
      <div class="col-12 col-md-4 col-lg d-flex flex-column align-items-center">
          <img class="contact-pic" src="assets/img/entrainement.png" alt="Entrainement">
          <p class="font">Entraînement de qualité</p>
      </div>
      <div class="col-12 col-md-4 col-lg d-flex flex-column align-items-center">
          <img class="contact-pic" src="assets/img/event.png" alt="compétition">
          <p class="font">Compétitions et évènements</p>
      </div>
      <div class="col-12 col-md-4 col-lg d-flex flex-column align-items-center">
        <img class="contact-pic" src="assets/img/communautée.png" alt="communauté soudée">
        <p class="font">Communauté soudée
        </p>
      </div>
      <div class="col-12 col-md-4 col-lg d-flex flex-column align-items-center">
        <img class="contact-pic" src="assets/img/soutien.png" alt="coatch attentif">
        <p class="font">Motivation et soutien</p>
    </div>
  </div>
</div>
<div class="container mt-2 pb-5">
    <div class="card card-custom">
      <div class="card-header card-header-custom">
        Formulaire d'adhésion
      </div>
      <div class="card-body card-body-custom">
        <form (ngSubmit)="onSubmit()" #adhesionForm="ngForm">
          <div class="form-group">
            <label for="nom" class="required-label">Nom</label>
            <input type="text" class="form-control form-control-custom" id="nom" required [(ngModel)]="form.nom" name="nom" placeholder="Entrez votre nom">
          </div>
  
          <div class="form-group">
            <label for="prenom" class="required-label">Prénom</label>
            <input type="text" class="form-control form-control-custom" id="prenom" required [(ngModel)]="form.prenom" name="prenom" placeholder="Entrez votre prénom">
          </div>
  
          <div class="form-group">
            <label for="email" class="required-label">Email</label>
            <input type="email" class="form-control form-control-custom" id="email" required [(ngModel)]="form.email" name="email" placeholder="EX : pierre.dupont@gmail.com">
          </div>
  
          <div class="form-group">
            <label for="telephone" class="required-label">Téléphone</label>
            <input type="tel" class="form-control form-control-custom" id="telephone" required [(ngModel)]="form.telephone" name="telephone" placeholder="EX : 70.70.70">
          </div>
  
          <div class="form-group">
            <label for="club" class="required-label">Choix du club</label>
            <select class="form-control form-control-custom" id="club" required [(ngModel)]="form.club" name="club">
              <option value="" disabled>Sélectionnez un club</option>
              <option value="ASPTT Nouvelle-Calédonie">ASPTT Nouvelle-Calédonie</option>
              <option value="Olympique de Nouméa section athlé">Olympique de Nouméa section athlé</option>
              <option value="JS-Vallée du Tir">JS-Vallée du Tir</option>
              <option value="Club Athlétique Jules Garnier">Club Athlétique Jules Garnier</option>
              <option value="AS Rivière Salée">AS Rivière Salée</option>
              <option value="Athletic club espoir de Boulari">Athletic club espoir de Boulari</option>
            </select>
          </div>
  
          <div class="form-group">
            <label for="licence">Choix de la licence</label>
            <select class="form-control form-control-custom" id="licence" [(ngModel)]="form.licence" name="licence">
              <option value="" selected>Aucune licence</option>
              <option value="loisir">Licence Loisir</option>
              <option value="competition">Licence Compétition</option>
            </select>
          </div>
  
          <button type="submit" class="btn btn-custom justify-content-center">Adhérer</button>
        </form>
      </div>
    </div>
  </div>
  