<button  *ngIf="!hideInscriptionButton" class="licence-acc font" (click)="openModal()">Je m'inscris pour jouer</button>

<div *ngIf="showModal" class="modal">
  <div class="modal-content card-custom">
    <span class="close" (click)="closeModalHandler()">&times;</span>
    <div class="card-header card-header-custom">
      <h2>Inscription</h2>
    </div>
    <div class="card-body card-body-custom">
      <form (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="pseudo">Pseudo *</label>
          <input type="text" id="pseudo" class="form-control form-control-custom" [(ngModel)]="joueur.pseudo" name="pseudo" required>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" id="email" class="form-control form-control-custom" [(ngModel)]="joueur.email" name="email">
        </div>
        <button class="btn btn-custom" type="submit" [disabled]="!isFormValid()">Je m'inscris</button>
      </form>
    </div>
  </div>
</div>
