.modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.licence-acc {
  background-color: #561717;
  border-radius: 30px;
  padding: 3px;
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  width: fit-content;
  transition: background-color 0.5s ease, border-radius 0.5s ease;
}

.licence-acc:hover {
  background-color: #910303; 
}

.font{
  font-family: 'StretchPro';
}

.required-label::after {
  content: ' * champ obligatoire';
  color: red;
  font-size: 8px;
  position: relative;
  top: -0.5em;
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.close-container {
  display: flex;
  justify-content: flex-end;
  margin: 0;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.card-custom {
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  max-width: 600px;
  margin: 10% auto;
}

.card-header-custom {
  background-color: #910303;
  color: white;
  font-family: 'StretchPro';
  text-align: center;
  padding: 20px;
  font-size: 1.25rem;
}

.form-control-custom {
  border-radius: 10px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  padding: 12px;
  margin-bottom: 20px;
}

.btn-custom {
  background-color: #561717;
  border-radius: 30px;
  padding: 3px;
  transition: background-color 0.5s ease, border-radius 0.5s ease;
  font-family: 'StretchPro';
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  display: block;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.btn-custom:hover {
  background-color: #910303;
  color: white;
}

.card-body-custom {
  padding: 40px;
}

.title-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 100px;
  align-items: center;
}
