<!-- début Présentation de la ligue -->
<div class="bg-img col-12 bg-color row text-light d-flex justify-content-center p-5">
    <div class="col-7 d-flex flex-column">
        <h1 class="font pb-3">PPrésentation de la ligue</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae molestiae est id consequatur, nostrum inventore animi cupiditate? Nam recusandae consequatur accusantium dolorem qui. Officia ratione esse laborum in facilis error.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam vero harum facere adipisci quos rerum quam dolores facilis voluptates, vel nam vitae esse voluptas voluptate voluptatem non, aperiam accusamus sunt?
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus voluptates, omnis doloribus est blanditiis id perspiciatis dicta similique aliquam minima dolore dolor. Voluptas vero neque ex quos, pariatur tempore explicabo?
            La ligue propose différents types de licences pour chacune de vos envies. 
            Trouvez le club le plus proche de chez vous grâce à notre carte interactive.
            Devenez adhérents et accédez à de nombreux avantages.</p>
    </div>
</div>
<!-- fin Présentation de la ligue -->

<!-- début webdoc -->
<div class="bg-img-ligue col-12 bg-color row text-light d-flex justify-content-center p-5">
    <div class="col-7 d-flex flex-column">
        <h1 class="font pb-3">NNos Webdocumentaires “À Vos Marques”</h1>
        <div class="d-flex flex-row justify-content-center align-items-center">
            <div class="p-5">
                <p class="d-flex justify-content-center" class="d-flex justify-content-center"><b>“À vos marques : Loan VILLE, à la pointe de la performance”</b></p>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/dQw4w9WgXcQ?si=dnuvb91EH-ZL5Are" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <p class="d-flex justify-content-center"><b>Partez à la rencontre de la jeune athlète prodige du 400m haies Loan VILLE pour une journée complète !</b></p>
            </div>
            <div class="p-5">
                <p class="d-flex justify-content-center"><b>“À vos marques : Athlète, quel est ton rêve ?"</b></p>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/mEfVm8KEZIk?si=EVWKHEiyXUACc78Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <p class="d-flex justify-content-center"><b>Rêvez aussi grand que les jeunes espoirs du caillou à travers ce documentaire !</b></p>
            </div>
        </div>
    </div>
</div>
<!-- fin webdoc -->

<!-- début cartes athletes -->
<div class="bg-img-carte col-12 bg-color row text-light d-flex justify-content-center p-5">
    <div class="col-7 d-flex flex-column">
        <h1 class="font p-3">CCartes des athlètes</h1>
        <div class="d-flex flex-row justify-content-center align-items-center">
            <div class="p-5">
                <p class="d-flex justify-content-center" class="d-flex justify-content-center"><b>Loan VILLE</b></p>
                <img src="img/marchand.jpg" class="rounded" alt="">
                <p class="d-flex justify-content-center"><b>400m haie</b></p>
            </div>
            <div class="p-5">
                <p class="d-flex justify-content-center"><b>Pierre FAIRBANK</b></p>
                <img src="img/marchand.jpg" class="rounded" alt="">
                <p class="d-flex justify-content-center"><b>Vitesse (Paralympique)</b></p>
            </div>
            <div class="p-5">
                <p class="d-flex justify-content-center" class="d-flex justify-content-center"><b>Lesly FILITUULAGA</b></p>
                <img src="img/marchand.jpg" class="rounded" alt="">
                <p class="d-flex justify-content-center"><b>Lancer de poids</b></p>
            </div>
            <div class="p-5">
                <p class="d-flex justify-content-center"><b>Felise VAHAI SOSAIA</b></p>
                <img src="img/marchand.jpg" class="rounded" alt="">
                <p class="d-flex justify-content-center"><b>Lancer de javelot</b></p>
            </div>
        </div>
    </div>
</div>
<!-- fin cartes athletes -->

<!-- début lieux -->
<div class="bg-color">
    <div class="d-flex align-items-center p-5">
        <div class="d-flex flex-column text-light col-4">
            <p>Envie de vous intéresser aux différents clubs qui composent notre ligue d’athlétisme ?</p>
            <p>Voici une carte interactive qui vous permettra de trouver le club le plus proche de chez vous !</p>
        </div>
        <div class="col-8 d-flex justify-content-center">
            <img src="img/carte.jpg" alt="" class="rounded">
        </div>
    </div>
    <div class="p-5 text-light d-flex flex-column align-items-center">
        <p>Retrouvez également toutes les informations utiles pour pratiquer l’athlétisme (les avantages, les licences, etc...)</p>
        <a href="" class="licence-acc font">LES LICENCES</a>
    </div>
</div>
<!-- fin lieux -->



<div class="monter-container d-flex justify-content-end align-items-end col-1">
    <div class="monter p-3 d-flex justify-content-center align-items-center">
        <a href="#"><img src="img/monter.png" alt="flèche monter"></a>
    </div>
</div>