.bg-img {
    background-image: url("../../../public/img/ligne.png");
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center;
}
.bg-img-ligue {
    background-image: url("../../../public/img/piste.jpg");
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center;
}
.bg-img-carte {
    background-image: url("../../../public/img/duplantis.jpg");
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center;
}
.font{
    font-family: 'StretchPro';
}