<header>
    <nav class="navbar navbar-expand-lg col-12 text-uppercase fixed-top">
        <a href="/" class="navbar-brand col-lg-4">
            <img src="assets/img/logo.png" alt="logo ligue athlétisme NC" class="imgSize img-fluid">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse col-lg-8" id="navbarNavAltMarkup">
            <div class="navbar-menu d-flex justify-content-end align-items-center col-9">
                <ul class="navbar-nav justify-content-end">
                    <li class="nav-item"><a class="nav-link" href="/">Accueil</a></li>
                    <li class="nav-item"><a class="nav-link" href="/game">Jeux</a></li>
                    <li class="nav-item"><a class="nav-link" href="/ligue">Ligue</a></li>
                    <li class="nav-item"><a class="nav-link" href="/club">Club</a></li>
                    <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
                    <li class="nav-item adherer"><a class="nav-link" href="/athletisme">Adhérer</a></li>
                </ul>
            </div>
            <div class="navbar-nav d-flex flex-row justify-content-end col-3">
                <li class="nav-item"><a href="https://www.facebook.com/p/Ligue-Nouvelle-Cal%C3%A9donie-Athl%C3%A9tisme-61553746453933/?paipv=0&eav=AfbWZK3SVIkajjfA-cURxexKHNVnz3g54wjtvtbawuYag3BiEfrCNY54ejuHWzfi7r8&_rdr" class="nav-link"><img src="assets/img/facebook.png" alt="icone facebook" class="social-icon"></a></li>
                <li class="nav-item"><a href="https://www.instagram.com/ligue_athle_nc/" class="nav-link"><img src="assets/img/instagram.png" alt="icone instagram" class="social-icon"></a></li>
            </div>
        </div>
    </nav>
</header>



<main>
    <router-outlet></router-outlet>
</main>

<footer class="footer">
    <div class="container p-3">
        <div class="row d-flex align-items-center">
            <!-- Accès rapide -->
            <div class="col-12 col-md-8 row">
                <div class="d-flex justify-content-center pb-4 w-100">
                    <h4><b>Accès rapide</b></h4>
                </div>
                <div class="col-12 col-md-4 nav-footer text-center">
                    <li><a href="/">Accueil</a></li>
                    <li><a href="/game">Jeux</a></li>
                    <li><a href="/contact">Contact</a></li>
                </div>
                <div class="col-12 col-md-4 nav-footer text-center">
                    <li><a href="/ligue">Pratiquer l‘athlétisme</a></li>
                    <li><a href="/club">Choisir ma licence</a></li>
                    <li><a href="/club">Trouver un club</a></li>
                </div>
                <div class="col-12 col-md-4 nav-footer text-center">
                    <li><a href="/ligue">La ligue</a></li>
                    <li><a href="/ligue">Web-documentaires</a></li>
                    <li><a href="/athletisme">Formulaire d'adhésion</a></li>
                </div>
            </div>
            <!-- Informations de contact et réseaux sociaux -->
            <div class="col-12 col-md-4 border-footer d-flex flex-column align-items-center">
                <div class="col p-2 text-center">
                    <a href="https://www.facebook.com/p/Ligue-Nouvelle-Cal%C3%A9donie-Athl%C3%A9tisme-61553746453933/?paipv=0&eav=AfbWZK3SVIkajjfA-cURxexKHNVnz3g54wjtvtbawuYag3BiEfrCNY54ejuHWzfi7r8&_rdr" class="socialbar-footer">
                        <img src="assets/img/facebook.png" alt="icone facebook">
                    </a>
                    <a href="https://www.instagram.com/ligue_athle_nc/" class="socialbar-footer">
                        <img src="assets/img/instagram.png" alt="icone instagram">
                    </a>
                </div>
                <div class="col nav-footer text-center">
                    <li><img src="assets/img/phone.png" alt="icone téléphone" class="icone p-2">+687 96.18.08</li>
                    <a href="mailto:ericreuillard80@gmail.com">
                        <li><img src="assets/img/mail.png" alt="icone mail" class="icone p-2">ericreuillard80&#64;gmail.com</li>
                    </a>
                    <li><img src="assets/img/map.png" alt="icone map" class="icone p-2"><a href="#">Stade Numa-Daly, 2 Rue Maurice-Herzog</a></li>
                </div>
            </div>
        </div>
    </div>
    <!-- Sous-footer -->
    <div class="d-flex align-items-center justify-content-center p-2 sous-footer">
        <a href="/rgpd" class="text-decoration-none text-light p-2">Politiques de confidentialité</a> | 
        ©Copyright 2024 SAE athlétisme
    </div>
</footer>