.licence {
    background-color: #910303;
    border-radius: 30px;
    padding: 3px;
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    width: fit-content;
    transition: background-color 0.5s ease, border-radius 0.5s ease;
}
.licence:hover {
    background-color: #561717; 
    color: #fff;
}

.licence-acc {
    background-color: #561717;
    border-radius: 30px;
    padding: 3px;
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    width: fit-content;
    transition: background-color 0.5s ease, border-radius 0.5s ease;
}
.licence-acc:hover {
    background-color: #910303; 
}

.bg-img {
    background-image: url("../../assets/img/ACCUEIL\ -\ Bandeau.jpg");
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center;
    padding: 150px;
}

.img-acc {
    width: 60%;
    border-radius: 5%;
    margin: 5%;
}
.font {
    font-family: 'StretchPro';
}
.texte {
    padding-left: 100px;
    padding-right: 100px;
}
.titre-acc {
    color: #561717;
}
.div-left {
    padding-left: 3%;
}

/* Responsivité */
@media (max-width: 992px) {
    .texte {
        padding-left: 50px;
        padding-right: 50px;
    }
    .img-acc {
        width: 80%;
    }
    .bg-img {
        padding: 20px;
    }
}

@media (max-width: 576px) {
    .texte {
        padding-left: 20px;
        padding-right: 20px;
    }
    .img-acc {
        width: 100%;
    }
    .bg-img {
        padding: 20px;
    }
}

body {
    padding-top: calc(60px + 1rem); /* Ajuste la taille selon tes besoins */
}

.padding-nav {
    padding-top: 90px; 
}

@media (max-width: 768px) {
    .padding-nav {
        padding-top: 120px;
    }
}

@media (max-width: 576px) {
    .padding-nav {
        padding-top: 140px;
    }
}