<div class="padding-nav">
    <!-- début Pratiquer l'athlétisme -->
    <div class="bg-img text-light">
        <div class="container">
            <div class="row justify-content-start texte">
                <div class="col-12 col-lg-6 d-flex flex-column">
                    <h1 class="font">Pratiquer l’Athlétisme</h1>
                    <p>
                        Bienvenue sur le site de la Ligue d'Athlétisme de Nouvelle-Calédonie, votre point
                        de départ pour une aventure sportive exceptionnelle. Que vous soyez débutant,
                        athlète confirmé, ou simple amateur de course, de saut ou de lancer, nous avons
                        une place pour vous !
                    </p>
                    <a href="/club" class="licence font">JE TROUVE MA LICENCE</a>
                </div>
            </div>
        </div>
    </div>
    <!-- fin Pratiquer l'athlétisme -->

   <!-- début mini-jeux -->
<div class="container p-5">
    <div class="row align-items-center">
        <div class="col-md-7 d-flex justify-content-center">
            <img src="assets/img/jeu.jpg" class="img-acc" alt="Mini-jeux d'athlétisme">
        </div>
        <div class="col-md-5 d-flex flex-column justify-content-center">
            <h1 class="font titre-acc">Mini-jeux d'athlétisme</h1>
            <p>Vous pensez tout savoir sur l'athlétisme ? Prouvez-le en vous amusant avec nos
                mini-jeux et nos quiz d’athlétisme en ligne et tentez de gagner des superbes
                cadeaux !</p>
            <a href="/game" class="licence-acc font">JOUER AUX JEUX</a>
        </div>
    </div>
</div>
<!-- fin mini-jeux -->

<!-- début ligue athlé -->
<div class="bg-light">
    <div class="container p-5">
        <div class="row align-items-center">
            <div class="col-md-5 d-flex flex-column justify-content-center" style="padding-left: 0; padding-right: 0;">
                <h1 class="font titre-acc">La ligue d’athlétisme NC</h1>
                <p>Organisation sportive dédiée à la promotion et au développement de l'athlétisme
                    sur tout le territoire, la ligue organise des compétitions, des événements et des
                    formations pour les athlètes de tous âges, que ce soit pour les disciplines de stade,
                    ou hors stade.</p>
                <a href="/ligue" class="licence-acc font">DÉCOUVREZ LA LIGUE</a>
            </div>
            <div class="col-md-7 d-flex justify-content-center">
                <img src="assets/img/ACCUEIL - La ligue.jpg" class="img-acc" alt="La ligue d'athlétisme">
            </div>
        </div>
    </div>   
</div>
<!-- fin ligue athlé -->

<!-- début devenir licencié -->
<div class="container p-5">
    <div class="row align-items-center">
        <div class="col-md-7 d-flex justify-content-center">
            <img src="assets/img/ligue-athlete.jpg" class="img-acc" alt="Devenir licencié">
        </div>
        <div class="col-md-5 d-flex flex-column justify-content-center">
            <h1 class="font titre-acc">Devenir licencié</h1>
            <p>Envie de découvrir l’athlétisme sous toutes ses formes, de progresser et de
                participer à des compétitions ? En prenant une licence à la Ligue d’Athlétisme de
                Nouvelle-Calédonie, vous faites bien plus que pratiquer un sport : vous rejoignez
                une grande famille de passionnés.</p>
            <a href="/club" class="licence-acc font">TROUVEZ VOTRE CLUB</a>
        </div>
    </div>
</div>
<!-- fin devenir licencié -->

</div>