<div class="padding-nav">
  <div class="text-center bg-img">
      <div class="row align-items-center">
        <div class="col">
          <p>Paul POANIEWA</p>
          <img class="contact-pic" src="img/paul.png" alt="photo Paul POANIEWA">
          <p class="font">DIRECTEUR DE LA LIGUE</p>
          <div>
              <li><img src="/img/phone.png" alt="icone téléphone" class="icone p-2"><span>+687 28.16.55</span></li>
              <li><img src="/img/mail.png" alt="icone mail" class="icone p-2"><span>prispier&#64;corail.nc</span></li>
          </div>
        </div>
        <div class="col">
          <p>Christine LAPORTE</p>
          <img class="contact-pic" src="img/paul.png" alt="photo Paul POANIEWA">
          <p class="font">SECRÉTAIRE DE LA LIGUE</p>
          <div>
              <li><img src="/img/phone.png" alt="icone téléphone" class="icone p-2"><span>+687 XX.XX.XX</span></li>
              <li><img src="/img/mail.png" alt="icone mail" class="icone p-2"><span>XX.XX.XX&#64;gmail.com</span></li>
          </div>
        </div>
        <div class="col">
          <p>Eric REUILLARD</p>
          <img class="contact-pic" src="img/paul.png" alt="photo Paul POANIEWA">
          <p class="font">DIRECTEUR DE LA LIGUE</p>
          <div>
              <li><img src="/img/phone.png" alt="icone téléphone" class="icone p-2"><span>+687 28.16.55</span></li>
              <li><img src="/img/mail.png" alt="icone mail" class="icone p-2"><span>ericreuillard80&#64;gmail.com</span></li>
          </div>
        </div>
      </div>
  </div>
</div>