.btn-custom {
    background-color: #910303;
    border-radius: 30px;
    padding: 3px;
    transition: background-color 0.5s ease, border-radius 0.5s ease;
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: block;
    transition: background-color 0.5s ease, color 0.5s ease;
    width: 300px;
  }
  
  .btn-custom:hover {
    background-color: #910303;
    color: white;
  }
  
.error-container {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
height: 100vh;
}