@font-face {
    font-family: 'StretchPro';
    src: url('../../public/font/StretchPro.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
body {
    margin: 0;
    padding: 0;
}
/* début barre nav */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #8c0e2c;
    padding: 1rem;
}
.imgSize {
    width: 150px;
    height: 60px;
    margin-left: 50px;
}
.navigation {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    padding-left: 10px;
}
.navbar-menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
.navbar-menu li {
    margin-left: 1rem;
    transition: border-radius 0.3s ease, background-color 0.3s ease, opacity 0.3s ease;
}
.navbar-menu li:hover {
    border-radius: 30px; 
    background-color: rgba(255, 255, 255, 0.2); 
    opacity: 1;
}
.navbar-menu li a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: block; 
    transition: background-color 0.5s ease, color 0.5s ease;
}
.navbar-menu li {
    opacity: 0.8; 
}
.adherer {
    background-color: #561717;
    border-radius: 30px;
    padding: 3px;
    transition: background-color 0.5s ease, border-radius 0.5s ease;
    font-family: 'StretchPro';
}
.adherer:hover {
    background-color: #910303; 
}
/* fin barre nav */

/* début barre résaux sociaux */
.socialbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    padding: 1rem;
}

.social {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}
.socialbar-menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
.socialbar-menu li {
    margin-left: 1rem;
}
.socialbar-menu li a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s;
}
/* fin barre résaux sociaux */

/* début footer */
.footer{
    background-color: #8c0e2c;
    
    color: white;
}
.sous-footer{
    background-color: #323232;
}
.footerSocialbar {
    display: flex;
    justify-content: space-between;
}
.socialbar-footer{
    padding-right: 15px;
}
.nav-footer li {
    list-style: none;
}
.nav-footer a {
    text-decoration: none;
    color: white; 
}
.icone{
    padding-right: 20px;
}
.border-footer{
    border-left: solid;
}

/* fin footer */