<header>
    <nav class="socialbar d-flex justify-content-end">
        <ul class="socialbar-menu align-items-center">
            <li><a href="#dd"><img src="/img/facebook.png" alt="icone facebook"></a></li>
            <li><a href="#dd"><img src="/img/instagram.png" alt="icone instagram"></a></li>
            <li><a href="#dd"><img src="/img/linkedin.png" alt="icone linkedin"></a></li>
            <li><a href="#dd"><img src="/img/youtube.png" alt="icone youtube"></a></li>
        </ul>
    </nav>
    <nav class="navbar col-12 text-uppercase">
        <img src="/img/logo.png" alt="logo ligue athlétimse NC" class="imgSize col-6">
        <ul class="navbar-menu d-flex justify-content-end align-items-center col-6">
            <li><a routerLink="/">Accueil</a></li>
            <li><a href="/game">Jeux</a></li>
            <li><a href="/ligue">La ligue</a></li>
            <li><a routerLink="/contact">Contact</a></li>
            <li class="adherer"><a routerLink="/athletisme">Adhérer</a></li>
        </ul>
    </nav>
</header>

<main>
    <router-outlet></router-outlet>
</main>

<footer class="footer">
    <div class="col-12 row p-3 d-flex align-items-center">
        <div class="col-8 row">
            <div class="d-flex justify-content-center pb-4"><h4><b>Accès rapide</b></h4></div>
            <div class="col nav-footer text-center">
                <li><a href="">Accueil</a></li>
                <li><a href="">Jeux</a></li>
                <li><a href="">Contact</a></li>
            </div>
            <div class="col nav-footer text-center">
                <li><a href="">Pratiquer l'athlétimse</a></li>
                <li><a href="">Choisir ma licence</a></li>
                <li><a href="">Trouver un club</a></li>
            </div>
            <div class="col nav-footer text-center">
                <li><a href="">La ligue</a></li>
                <li><a href="">Web-documentaires</a></li>
                <li><a href="">Formulaire d'adhésion</a></li>
            </div>
        </div>
        <div class="col-4 border-footer">
            <div class="col p-2">
                <a href="#dd" class="socialbar-footer"><img src="/img/facebook.png" alt="icone facebook"></a>
                <a href="#dd" class="socialbar-footer"><img src="/img/instagram.png" alt="icone instagram"></a>
                <a href="#dd" class="socialbar-footer"><img src="/img/linkedin.png" alt="icone linkedin"></a>
                <a href="#dd" class="socialbar-footer"><img src="/img/youtube.png" alt="icone youtube"></a>
            </div>
            <div class="col nav-footer">
                <li><img src="/img/phone.png" alt="icone téléphone" class="icone p-2"><a href="">+687 96.18.08</a></li>
                <li><img src="/img/mail.png" alt="icone mail" class="icone p-2"><a href="">ericreuillard80&#64;gmail.com</a></li>
                <li><img src="/img/map.png" alt="icone map" class="icone p-2"><a href="">Stade Numa-Daly, 2 Rue Maurice-Herzog </a></li>
            </div>
        </div>
    </div>
    <div class="d-flex align-items-center justify-content-center p-2 sous-footer col-12">
        <a href="" class="text-decoration-none text-light p-2">Politiques de confidentialité</a>| ©Copyright 2024 SAE athlétimse
    </div>
</footer>