<header>
    <nav class="socialbar d-flex justify-content-end">
        <ul class="socialbar-menu align-items-center">
            <li><a href="#dd"><img src="/img/facebook.png" alt=""></a></li>
            <li><a href="#dd"><img src="/img/instagram.png" alt=""></a></li>
            <li><a href="#dd"><img src="/img/linkedin.png" alt=""></a></li>
            <li><a href="#dd"><img src="/img/youtube.png" alt=""></a></li>
        </ul>
    </nav>
    <nav class="navbar col-12 text-uppercase">
        <img src="/img/logo.png" alt="logo ligue athlétimse NC" class="imgSize col-3">
        <div class="navigation col-3">Ligue d'athlétimse NC</div>
        <ul class="navbar-menu align-items-center col-6">
            <li><a href="#home">Accueil</a></li>
            <li><a href="#about">Jeux</a></li>
            <li><a href="#services">La ligue</a></li>
            <li><a href="#contact">Contact</a></li>
            <li class="adherer"><a href="#adherer">Adhérer</a></li>
        </ul>
    </nav>
</header>

<app-home></app-home>

<footer>
    <nav class="socialbar d-flex justify-content-end">
        <ul class="socialbar-menu align-items-center">
            <li><a href="#dd"><img src="/img/facebook.png" alt=""></a></li>
            <li><a href="#dd"><img src="/img/instagram.png" alt=""></a></li>
            <li><a href="#dd"><img src="/img/linkedin.png" alt=""></a></li>
            <li><a href="#dd"><img src="/img/youtube.png" alt=""></a></li>
        </ul>
    </nav>
    <div>Copyright 2024 - Tous droits réserves - Mentions légales / Politiques de confidentialité</div>
</footer>