<header>
    <nav class="navbar">
        <img src="../../public/img/logo.png" alt="">
        <div class="navigation">Ligue d'athlétimse NC</div>
        <ul class="navbar-menu">
            <li><a href="#home">Accueil</a></li>
            <li><a href="#about">Jeux</a></li>
            <li><a href="#services">La ligue</a></li>
            <li><a href="#contact">Contact</a></li>
            <li class="test"><a href="#adherer">Adhérer</a></li>
        </ul>
    </nav>
</header>

<app-home></app-home>

<footer>bonjour test</footer>