<div class="padding-nav">
  <!-- début Présentation de la ligue -->
  <div class="bg-img text-light">
    <div class="container">
        <div class="row justify-content-start texte">
            <div class="col-12 col-lg-6 d-flex flex-column">
                <h1 class="font">Pratiquer l’Athlétisme</h1>
                <p>
                  Bienvenue sur le site de la Ligue d'Athlétisme de Nouvelle-Calédonie, votre point
                  de départ pour une aventure sportive exceptionnelle. Que vous soyez débutant,
                  athlète confirmé, ou simple amateur de course, de saut ou de lancer, nous avons
                  une place pour vous !
                </p>
            </div>
        </div>
    </div>
</div>
  <!-- fin Présentation de la ligue -->

  <!-- début webdoc -->
  <div class="bg-light">
    <h1 class="text-center mb-4 font fs-3 fs-lg-1" style="color: black; display: block; padding-top: 20px;">Nos Webdocumentaires</h1>
        <h2 class="text-center mb-4 font fs-3 fs-lg-1" style="color: #910303; display: block; ">“À Vos Marques”</h2>
    <div class="container py-5">
        <div class="row">
            <div class="col-md-6 mb-4">
                <p class="text-center"><b>“Loan VILLE, à la pointe de la performance”</b></p>
                <iframe width="100%" height="315" src="https://www.youtube.com/embed/UcOifiVvQrQ?si=mW57RWk-Eebtefvs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                  <p class="text-center">Suivez le quotidien de Loan Ville, l’athlète espoir du 400m haies rêvant de briller aux yeux du monde.</p>
            <div class="col-md-6 mb-4">
                <p class="text-center"><b>"Sur les pistes silencieuses”</b></p>
                <iframe width="100%" height="315" src="https://www.youtube.com/embed/yZl2QbWaGJA?si=XxcwWuC77tKm2NFj" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                  <p class="text-center">Découvrez l'athlétisme sourd à travers des parcours inspirants, où les obstacles sont surmontés sans un mot, mais avec une grande détermination.</p>
            </div>
        </div>
    </div>
  </div>
  <!-- fin webdoc -->

  <!-- début cartes athletes -->
  <div>
      <div class="container py-5">
          <h1 class="text-center mb-4 font fs-3 fs-lg-1" style="color: #910303;">CCartes Des Athlètes</h1>
          <div id="app" class="container">
              <div class="card" style="background-image: url('assets/img/LA LIGUE -Loan VILLE.jpg')">
                <h2>Loan VILLE</h2>
                <p>400m haies</p>
              </div>
              <div class="card" style="background-image: url('assets/img/LA LIGUE Anélia MOINDOU.jpg');">
                <h2>Hailey GOWEY </h2>
                <p>Javelot, Saut en longueur, Course du 200m</p>
              </div>
              <div class="card" style="background-image: url('assets/img/LA LIGUE - Hailey GOWEY.jpg');">
                <h2>Anélia MOINDOU</h2>
                <p>Disque, Javelot, Poids</p>
              </div>
            </div>
      </div>
  </div>
  
  <!-- fin cartes athletes -->

  <!-- début lieux -->
  <div class="bg-color">
  <div class="d-flex align-items-center p-5 flex-column flex-lg-row grid-carte">
  <div class="d-flex flex-column text-light col-12 col-lg-4 mb-4 mb-lg-0">
      <p>Envie de vous intéresser aux différents clubs qui composent notre ligue d’athlétisme ?</p>
      <p>Voici une carte interactive qui vous permettra de trouver le club le plus proche de chez vous !</p>
  </div>
  <div class="leaflet-container">
    <app-map-leaflet></app-map-leaflet> 
  </div>
  </div>
  <div class="p-5 text-light d-flex flex-column align-items-center text-center">
      <p>Retrouvez également toutes les informations utiles pour pratiquer l’athlétisme (les avantages, les licences, etc...)</p>
      <a href="/club" class="btn licence-acc font mt-3">LES LICENCES</a>
  </div>
</div>

  <!-- fin lieux -->
</div>

<!-- script card athléte -->
<script>
  document.addEventListener("DOMContentLoaded", function() {
    const cards = document.querySelectorAll('.card');
  
    cards.forEach(card => {
      let mouseX = 0, mouseY = 0;
      const width = card.offsetWidth;
      const height = card.offsetHeight;
  
      card.addEventListener('mousemove', function(e) {
        mouseX = e.pageX - card.offsetLeft - width / 2;
        mouseY = e.pageY - card.offsetTop - height / 2;
  
        const mousePX = mouseX / width;
        const mousePY = mouseY / height;
  
        const rX = mousePX * 30;
        const rY = mousePY * -30;
  
        card.style.transform = `rotateY(${rX}deg) rotateX(${rY}deg)`;
      });
  
      card.addEventListener('mouseenter', function() {
        clearTimeout(card.mouseLeaveDelay);
      });
  
      card.addEventListener('mouseleave', function() {
        card.mouseLeaveDelay = setTimeout(() => {
          card.style.transform = '';
        }, 1000);
      });
    });
  });
  
  </script>