.bg-color{
  background-color: #000;
}
.bg-img {
  background-image: url("../../assets/img/LA\ LIGUE\ -\ Bandeau.jpg");
  background-repeat: no-repeat; 
  background-size: cover; 
  background-position: center;
  padding: 150px;
}

.font{
  font-family: 'StretchPro';
}

.responsive-title {
font-size: 1.75rem; /* Taille par défaut (fs-3) pour petits écrans */
}

@media (min-width: 768px) {
h1.fs-3 {
  font-size: 2.5rem !important; /* Override fs-3 on larger screens with a larger size */
}
.leaflet-container {
  display: flex;
  justify-content: center;
  margin: auto;
  max-width: 100%;
}
}

/* Responsivité */
@media (max-width: 992px) {
  .bg-img {
      padding: 20px;
  }
  .leaflet-container {
    display: flex;
    justify-content: center;
    margin: auto;
    max-width: 100%;
  }
}


.licence-acc {
  background-color: #561717;
  border-radius: 30px;
  padding: 3px;
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  width: fit-content;
  transition: background-color 0.5s ease, border-radius 0.5s ease;
}
.licence-acc:hover {
  background-color: #910303; 
}
.monter-container {
  position: fixed;
  bottom: 3%;
  right: 2%; 
  z-index: 1000;
}
.monter {
  background-color: #561717;
  width: fit-content;
  height: fit-content;
  border-radius: 30px;
  margin: 2%;
}

/* css card */

.container {
display: flex;
flex-wrap: wrap;
justify-content: center;
}

.card {
position: relative;
width: 240px;
height: 320px;
margin: 10px;
border-radius: 10px;
overflow: hidden;
box-shadow: rgba(0, 0, 0, 0.66) 0 30px 60px 0;
cursor: pointer;
background-size: cover;
background-position: center;
transition: transform 0.6s cubic-bezier(0.445, 0.05, 0.55, 0.95), background-color 0.6s ease;
will-change: transform;
display: flex;
flex-direction: column;
justify-content: flex-end; 
text-align: center; 
}

.card::before {
content: '';
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(86, 23, 23, 0);
transition: background 0.6s ease;
z-index: 1;
}

.card:hover::before {
background: rgba(86, 23, 23, 0.5);
}

.card:hover p {
opacity: 1;
}

.card h2,
.card p {
position: relative;
z-index: 1;
color: white;
padding: 20px;
margin: 0;
}

.card h2 {
font-family: "StretchPro";
font-size: 24px;
font-weight: 700;
text-shadow: rgba(86, 23, 23, 0.5) 0 10px 10px;
margin-top: 0; 
}

.card p {
line-height: 1.5em;
opacity: 0;
transition: opacity 0.6s ease;
}

