<div class="text-center bg-img2 padding-nav">
    <div class="d-flex p-5">
        <div class="d-flex flex-column col-5 justify-content-center div-left">
            <h1 class="font titre">Pourquoi devenir licencié ?</h1>
            <p>En loisir ou en compétition, la licence permet de bénéficier des compétences d’un
                club sportif. Véritable carte d'identité sportive, elle donne accès aux activités du
                club et permet de recevoir un enseignement de qualité reconnu.<br><br>
                
                Les avantages sont personnels avec un accès à des équipements de qualité. Une
                licence permet un accès aux compétitions pour pouvoir se dépasser mais aussi à
                des stages et des formations.<br><br>
                
                Devenir licencié apporte des avantages significatifs qui contribuent à la
                progression personnelle, sociale, et professionnelle, tout en favorisant une pratique
                sportive saine et encadrée</p>
        </div>
        <div class="d-flex col-7 justify-content-center">
            <img src="../../assets/img/ligue-athlete.jpg" class="img" alt="">
        </div>
    </div>
    <div class=" align-items-center ">
        <h1 class="font">Les avantages à devenir licencié </h1>
        <div class="d-flex flex-row">
            <div class="col">
                <img class="contact-pic" src="../../assets/img/équipement.jpg" alt="photo Équipements">
                <p class="font">Équipements de qualité</p>
            </div>
            <div class="col">
                <img class="contact-pic" src="../../assets/img/medecin.jpg" alt="médecin du sport">
                <p class="font">Suivi médical</p>
            </div>
            <div class="col">
                <img class="contact-pic" src="../../assets/img/dev.jpg" alt="photo Paul POANIEWA">
                <p class="font">Développement et progression</p>
            </div>
            <div class="col">
                <img class="contact-pic" src="../../assets/img/formation.jpg" alt="photo Paul POANIEWA">
                <p class="font">Accès à des formations</p>
            </div>
            <div class="col">
                <img class="contact-pic" src="../../assets/img/soutien.jpg" alt="photo Paul POANIEWA">
                <p class="font">Motivation et soutien</p>
            </div>
        </div>
    </div>
</div>
<div class="text-center bg-img1">
    <h1 class="font">Trouvez la licence qui vous correspond :</h1>
    <div class="d-flex p-5">
        <div class="d-flex col-7 justify-content-center">
            <img src="../../assets/img/ligue-athlete.jpg" class="img" alt="">
        </div>
        <div class="d-flex flex-column col-5 div-left">
            <h1 class="font titre">Licence Sport Santé</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus volutpat blandit
                est, sed posuere purus aliquam et. Ut vulputate tincidunt ante, a varius lacus
                viverra non. Vivamus eleifend dapibus massa, ac commodo urna placerat nec.
                Etiam placerat mi ut ipsum finibus accumsan.<br><br>
                
                Nulla facilisi. Cras imperdiet lectus turpis, sit amet tincidunt sapien molestie vel.
                Morbi sodales purus vitae leo vulputate ultricies. Mauris urna augue, dignissim
                pellentesque gravida quis, blandit condimentum nulla.</p>
        </div>
    </div>
</div>
<div class="d-flex p-5 bg-white justify-content-center">
    <app-map-leaflet></app-map-leaflet> 
</div>
<div class="p-5 bg-black text-light d-flex flex-column align-items-center text-center">
    <p>Vous savez désormais quelle licence choisir et dans quel club vous inscrire ? Alors n’hésitez plus :</p>
    <a href="/athletisme" class="licence font text-uppercase">Adhérer</a>
</div>