.padding-nav {
    padding-top: 90px;
}

.bg-img1 {
    background-image: url("../../../public/img/finish.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

h1 {
    font-family: 'StretchPro';
    color: #910303;
}

.font {
    padding: 2%;
}

.img{
    width: 60%;
}

.col {
    padding: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.contact-pic {
    width: 150px;
    border-radius: 100%;
}

.card-custom {
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 600px;
    margin: 0 auto;
}

.card-header-custom {
    background-color: #910303;
    color: white;
    font-family: 'StretchPro';
    text-align: center;
    padding: 20px;
    font-size: 1.25rem;
}

.form-control-custom {
    border-radius: 10px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    padding: 12px;
    margin-bottom: 20px;
}

.btn-custom {
    background-color: #561717;
    border-radius: 30px;
    padding: 3px;
    transition: background-color 0.5s ease, border-radius 0.5s ease;
    font-family: 'StretchPro';
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: block; 
    transition: background-color 0.5s ease, color 0.5s ease;
}

.btn-custom:hover {
    background-color: #910303; 
    color: white;
}

.card-body-custom {
    padding: 40px;
}
