<div class="padding-nav">
    <div class="section">
      <h2>Identité</h2>
      <p><strong>Nom du site :</strong> Ligue de la Nouvelle-Calédonie d'athlétisme</p>
      <p><strong>Adresse du site :</strong> <a href="https://athletisme-nc.netlify.app/">https://athletisme-nc.netlify.app/</a></p>
      <p><strong>Ligue de la Nouvelle-Calédonie d'athlétisme</strong> – Association loi 1901</p>
      <p><strong>R.N.A :</strong> W9N1001024</p>
      <p><strong>Siège social :</strong> BP 1075, 98845 NOUMEA CEDEX</p>
      <p><strong>Téléphone :</strong> 28 16 55</p>
      <p><strong>Email :</strong> <a href="mailto:prispier&#64;corail.nc">prispier&#64;corail.nc</a></p>
      <p><strong>Crédits :</strong> Ligue de la Nouvelle-Calédonie d'athlétisme</p>
    </div>
  
    <div class="section">
      <h2>Conditions d’utilisation</h2>
      <p>L’utilisation du présent site implique l’acceptation pleine et entière des conditions générales d’utilisation décrites ci-après. Ces conditions d’utilisation sont susceptibles d’être modifiées ou complétées à tout moment.</p>
    </div>
  
    <div class="section">
      <h2>Informations</h2>
      <p>Les informations et documents du site sont présentés à titre indicatif, sans caractère exhaustif, et ne peuvent engager la responsabilité du propriétaire du site.</p>
      <p>Le propriétaire du site ne peut être tenu responsable des dommages directs et indirects consécutifs à l’accès au site.</p>
    </div>
  
    <div class="section">
      <h2>Interactivité</h2>
      <p>Les utilisateurs du site peuvent y déposer du contenu, apparaissant sur le site dans des espaces dédiés (notamment via les commentaires). Le contenu déposé reste sous la responsabilité de leurs auteurs, qui en assument pleinement l’entière responsabilité juridique.</p>
      <p>Le propriétaire du site se réserve néanmoins le droit de retirer sans préavis et sans justification tout contenu déposé par les utilisateurs qui ne satisferait pas à la charte déontologique du site ou à la législation en vigueur.</p>
    </div>
  
    <div class="section">
      <h2>Propriété intellectuelle</h2>
      <p>Sauf mention contraire, tous les éléments accessibles sur le site (textes, images, graphismes, logo, icônes, sons, logiciels, etc.) restent la propriété exclusive de leurs auteurs, en ce qui concerne les droits de propriété intellectuelle ou les droits d’usage.¹</p>
      <p>Toute reproduction, représentation, modification, publication, adaptation de tout ou partie des éléments du site, quel que soit le moyen ou le procédé utilisé, est interdite, sauf autorisation écrite préalable de l’auteur.²,³</p>
      <p>Toute exploitation non autorisée du site ou de l’un quelconque des éléments qu’il contient est considérée comme constitutive d’une contrefaçon et passible de poursuites.⁴</p>
      <p>Les marques et logos reproduits sur le site sont déposés par les sociétés qui en sont propriétaires.</p>
    </div>
  
    <div class="section">
      <h2>Liens</h2>
      <h5>Liens sortants</h5>
      <p>Le propriétaire du site décline toute responsabilité et n’est pas engagé par le référencement via des liens hypertextes, de ressources tierces présentes sur le réseau Internet, tant en ce qui concerne leur contenu que leur pertinence.</p>
  
      <h5>Liens entrants</h5>
      <p>Le propriétaire du site autorise les liens hypertextes vers l’une des pages de ce site, à condition que ceux-ci ouvrent une nouvelle fenêtre et soient présentés de manière non équivoque afin d’éviter :</p>
      <ul>
        <li>tout risque de confusion entre le site citant et le propriétaire du site</li>
        <li>toute présentation tendancieuse, ou contraire aux lois en vigueur</li>
      </ul>
      <p>Le propriétaire du site se réserve le droit de demander la suppression d’un lien s’il estime que le site source ne respecte pas les règles ainsi définies.</p>
    </div>
  
    <div class="section">
      <h2>Confidentialité</h2>
      <p>Tout utilisateur dispose d’un droit d’accès, de rectification et d’opposition aux données personnelles le concernant, en effectuant sa demande écrite et signée, accompagnée d’une preuve d’identité. ⁵,⁶,⁷,⁸</p>
      <p>Le site n’est pas assujetti à déclaration à la CNIL.  ⁹</p>
    </div>
    <div class="section">
      <h2>Législation</h2>
      <div class="article">
        <p>¹ Articles L111-1 et suivants du Code de la Propriété Intellectuelle du 1er juillet 1992</p>
        <p>² Article 41 de la loi du 11 mars 1957</p>
        <p>³ Article L. 226-13 du Code pénal et la Directive Européenne du 24 octobre 1995</p>
        <p>⁴ Articles L.335-2 et suivants du Code de Propriété Intellectuelle</p>
        <p>⁵ Loi n° 78-17 du 6 janvier 1978, modifiée par la loi n° 2004-801 du 6 août 2004, relative à l’informatique, aux fichiers et aux libertés</p>
        <p>⁶ Articles 38 et suivants de la loi 78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés</p>
        <p>⁷ Loi du 1er juillet 1998 transposant la directive 96/9 du 11 mars 1996 relative à la protection juridique des bases de données</p>
        <p>⁸ Loi n° 2004-801 du 6 août 2004</p>
        <p>⁹ Article 6 de la loi n° 2004-575 du 21 juin 2004 pour la confiance dans l’économie numérique</p>
      </div>
    </div>
  
    <p>Mentions légales fournies par WebExpress – Version 2.5 – Utilisation libre sous Licence Creative Commons CC BY-NC-ND 3.0 FR / <a href="https://creativecommons.org">creativecommons.org</a>.</p>
  </div>