<!-- début Pratiquer l'athlétisme -->
<div class="bg col-12 test row">
    <div class="col-6 d-flex justify-content-center flex-column">
        <h1>Pratiquer l’Athlétisme</h1>
        <p>La ligue propose différents types de licences pour chacune de vos envies. Trouvez le club le plus proche de chez vous grâce à notre carte interactive.Devenez adhérents et accédez à de nombreux avantages.</p>
        <a href="" class="licence">JE TROUVE MA LICENCE</a>
    </div>
    <div class="col-6">
        <img src="img/carre.png" alt="" class="img">
    </div>
</div>
<!-- fin Pratiquer l'athlétisme -->