<!-- début Pratiquer l'athlétisme -->
<div class="bg-img col-12 bg-color row text-light">
    <div class="col-7 d-flex justify-content-center flex-column texte">
        <h1 class="font">PPratiquer l’Athhlétisme</h1>
        <p>La ligue propose différents types de licences pour chacune de vos envies. Trouvez le club le plus proche de chez vous grâce à notre carte interactive.
            <br/>Devenez adhérents et accédez à de nombreux avantages.</p>
        <a href="" class="licence font">JE TROUVE MA LICENCE</a>
    </div>
    <div class="col-5">
        <img src="img/saut.jpg" alt="" class="img">
    </div>
</div>
<!-- fin Pratiquer l'athlétisme -->
