<!-- début Pratiquer l'athlétisme -->
<div class="bg-img col-12 bg-color row text-light">
    <div class="col-7 d-flex justify-content-center flex-column texte">
        <h1 class="font">PPratiquer l’Athhlétisme</h1>
        <p>La ligue propose différents types de licences pour chacune de vos envies. Trouvez le club le plus proche de chez vous grâce à notre carte interactive.
            <br/>Devenez adhérents et accédez à de nombreux avantages.</p>
        <a href="" class="licence font">JE TROUVE MA LICENCE</a>
    </div>
    <div class="col-5">
        <img src="img/saut.jpg" alt="" class="img">
    </div>
</div>
<!-- fin Pratiquer l'athlétisme -->

<!-- début mini-jeux -->
<div class="d-flex m-5">
    <div class="d-flex col-5 justify-content-center">
        <img src="img/jeu.jpg" class="img-acc" alt="">
    </div>
    <div class="d-flex flex-column col-7 justify-content-center">
        <h1 class="font titre-acc">MMini-jeux d'athlétisme</h1>
        <p>Défiez vos amis sur cette suite de mini-jeux reprenants les différentes épreuves de l’athlétisme et tentez de gagner des superbes cadeaux !</p>
        <a href="" class="licence-acc font">JOUER AUX JEUX</a>
    </div>
</div>
<!-- fin mini-jeux -->

<!-- début ligue athlé -->
<div class="d-flex p-5 bg-light">
    <div class="d-flex flex-column col-5 justify-content-center div-left">
        <h1 class="font titre-acc">La ligue dd’athlétisme nc</h1>
        <p>lorem ipsum</p>
        <a href="/ligue" class="licence-acc font">DÉCOUVREZ LA LIGUE</a>
    </div>
    <div class="d-flex col-6 justify-content-center">
        <img src="img/ligue-athlete.jpg" class="img-acc" alt="">
    </div>
    <div class="monter-container d-flex justify-content-end align-items-end col-1">
        <div class="monter p-3 d-flex justify-content-center align-items-center">
            <a href="#"><img src="img/monter.png" alt="flèche monter"></a>
        </div>
    </div>
</div>
<!-- fin ligue athlé -->