<div class="padding-nav">
  <div class="game-container">
    
    <div class="game-title-container">
      <h1 class="game-title">MINI-JEUX D'ATHLTÉTISME</h1>
    </div>
    <div class="col-md-7 d-flex justify-content-center"  *ngIf="showImage">
      <img src="assets/img/jeu.jpg" class="img-acc" alt="Mini-jeux d'athlétisme">
    </div>
    <div class="how-to-play-container" *ngIf="showImage">
      <h1 class="game-title">Comment jouer ?</h1>
      <div class="game-descriptif">
        <div class="descriptif-container">
          <img src="assets/img/geek.png" class="img-play" alt="geek playing games">
          <span class="descriptif-text">Participez aux différentes épreuves d’athlétisme à travers des mini-jeux interactifs</span>
        </div>
        <div class="descriptif-container">
          <img src="assets/img/interrogation.png" class="img-play" alt="point d'interrogation">
          <span class="descriptif-text">Répondez à un quiz complet sur les différents aspects de la ligue.</span>
        </div> 
        <div class="descriptif-container">
          <img src="assets/img/winner-cup.png" class="img-play" alt="coupe gagnant">
          <span class="descriptif-text">Accumulez des points & tentez de remporter des prix inédits !</span>
        </div>
      </div>
    </div>
    
    <!-- Votre contenu ici -->
    <div class="score-container" *ngIf="hidePodium && topResultats.length > 0">
      <h2>Top 3 Résultats</h2>
      <div class="podium">
        <div class="podium-item podium-second">
          <div class="podium-cube">
            <div class="podium-content">
              <span class="podium-score">{{ topResultats[1]?.totalScore }}</span>
              <span class="podium-name">{{ topResultats[1]?.joueurName || 'Joueur inconnu' }}</span>
            </div>
          </div>
        </div>
        <div class="podium-item podium-first">
          <div class="podium-cube">
            <div class="podium-content">
              <span class="podium-score">{{ topResultats[0]?.totalScore }}</span>
              <span class="podium-name">{{ topResultats[0]?.joueurName || 'Joueur inconnu' }}</span>
            </div>
          </div>
        </div>
        <div class="podium-item podium-third">
          <div class="podium-cube">
            <div class="podium-content">
              <span class="podium-score">{{ topResultats[2]?.totalScore }}</span>
              <span class="podium-name">{{ topResultats[2]?.joueurName || 'Joueur inconnu' }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <ng-container *ngIf="!hidePseudo">
      <div class="inscription-container">
        <app-inscription-modal (inscriptionSuccess)="onInscriptionSuccess($event)"></app-inscription-modal>
        <div class="mobile-message">
          Les jeux et quiz ne peuvent pas se jouer sur mobile et tablette.
        </div>
      </div>
      <p *ngIf="welcomeMessage" [innerHTML]="welcomeMessage"></p>
      <button *ngIf="welcomeMessage" (click)="startGame()" class="btn-custom">Jouer</button>
    </ng-container>

    <ng-container *ngIf="hidePseudo">
      <ng-container *ngFor="let game of games; let i = index">
        <div class="ng-container" *ngIf="currentGameIndex === i">
          <div *ngIf="!showQuiz" class="title-container">
            <p class="btn-custom">{{ game.title }}</p>
          </div>

          <div class="iframe-container" *ngIf="!showQuiz">
            <iframe [src]="game.url" width="600" height="400"></iframe>
          </div>

          <div *ngIf="!showQuiz">
            <label class="label" [attr.for]="'scoreInput' + i">
              J'inscris mon {{ i + 1 }}{{ i === 0 ? 'er' : 'ème' }} score :
            </label>
            <input
              class="form-control-custom"
              [id]="'scoreInput' + i"
              type="number"
              [(ngModel)]="score"
              (ngModelChange)="validateScore()"
              [maxlength]="3"
            >
            <button class="btn-custom" (click)="submitScore()" [disabled]="!isValidScore">OK</button>
            <p *ngIf="showWarning" style="color: red;">
              Êtes-vous sûr ? Le score ne doit pas dépasser le chiffre 100.
            </p>
          </div>

          <!-- Le quiz n'apparaît que quand showQuiz est vrai -->
          <div *ngIf="showQuiz">
            <app-quiz
              [quizIndex]="i"
              [isLastQuiz]="i === games.length - 1"
              [joueurId]="joueurId"
              (quizCompleted)="onQuizCompleted($event)"
              (readyForNextGame)="onReadyForNextGame()">
            </app-quiz>
          </div>
        </div>
    </ng-container>
  </ng-container>
  </div>
</div>
