<div class="game-container">
  <div class="score-container" *ngIf="topScores.length > 0">
    <h2>Top 3 Scores</h2>
    <ul>
      <li *ngFor="let score of topScores | slice:0:3">
        {{ score.valeur }} : {{ score.joueur?.pseudo|| 'Joueur inconnu' }}
      </li>
    </ul>
  </div>

  <ng-container *ngIf="!hidePseudo">
    <app-inscription-modal (inscriptionSuccess)="onInscriptionSuccess($event)"></app-inscription-modal>

    <p *ngIf="welcomeMessage">{{ welcomeMessage }}</p>
    <button *ngIf="welcomeMessage" (click)="startGame()" class="play-button">Jouer</button>
  </ng-container>

  <ng-container *ngIf="hidePseudo">
    <div *ngIf="showStartMessage" class="title-container">
      <p class="title">C'est parti !</p>
    </div>

    <ng-container *ngFor="let game of games; let i = index">
      <div *ngIf="currentGameIndex === i">
        <div *ngIf="!showQuiz" class="title-container">
          <p class="title">{{ game.title }}</p>
        </div>

        <div class="iframe-container" *ngIf="!showQuiz">
          <iframe [src]="game.url" width="600" height="400"></iframe>
        </div>

        <div *ngIf="!showQuiz">
          <label [attr.for]="'scoreInput' + i">J'inscris mon {{ i + 1 }}{{ i === 0 ? 'er' : 'ème' }} score : </label>
          <input
            [id]="'scoreInput' + i"
            type="number"
            [(ngModel)]="score"
            (ngModelChange)="validateScore()"
            [maxlength]="3"
          >
          <button (click)="submitScore()" [disabled]="!isValidScore">OK</button>
          <p *ngIf="showWarning" style="color: red;">
            Êtes-vous sûr ? Le score ne doit pas dépasser le chiffre 100.
          </p>
        </div>

        <div *ngIf="showQuiz">
          <app-quiz 
            [quizIndex]="i"
            [isLastQuiz]="i === games.length - 1"
            [joueurId]="joueurId"
            (quizCompleted)="onQuizCompleted($event)"
            (readyForNextGame)="onReadyForNextGame()">
          </app-quiz>
        </div>
      </div>
    </ng-container>
  </ng-container>
</div>